*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    margin-top: 0%;
    position: relative;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar li:hover::after{
    width: 100%;
}
.content{
    width: 80%;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    position: relative;
    margin: auto;
    top: 11% ;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px 0px #009688;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
/*------------------------------------------------------------services page style -----------------------------------------------------------------*/
 .services-content{
    text-align: center;
    color: #fff;
    margin-top: 35vh;
    font-size: large;
}
 /* .services-menu li{
    display: block; 
    z-index: -1; 
    background-color: #009688;
}
.services-menu{
    width: 100%;
    background-color: rgba(59, 55, 55, 0.75);
    position: absolute;
    z-index: 999;
    display: none;
    height: 100px;
    
} */
.navbar li:hover ::after .services-menu { 
    display: block;
    /* position: relative; */
    width: 100%;
    height: 100px;
}  
/* ----------------------------------------------------------contact us page style------------------------------------------------------------------*/
.contact-content{
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
}
.contact-content h1{
    margin-bottom: 10px;
    font-size: 45px;
}
.contact-content p{
    margin: 10px;
    font-size: 18px;
}
.contact-information{
    color: #fff;
    width: 84%;
    background-color: rgba(59, 55, 55, 0.75);
    opacity: 0.75;
    display: flex;
    top: -4%;
    justify-content: center;
    margin: auto;
    height: 92%;
    position: relative;
}
.left{
    flex-basis: 60%;
    padding: 40px 60px;
    text-align: center;
}
.right{
    flex-basis: 40%;
    padding: 40px;
    text-align: center;
}
.form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}
.form .input{
    flex-basis: 40%;
    text-align: left;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #009688;
    outline: none;
    color: #fff;
    background-color: transparent;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #009688;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}
.message{
    text-align: left;
}
.social{
    width: 11%;
    justify-content: space-between;
    display: flex;
    height: 5%;
    top: 85%;
    margin: auto;
    padding-top: 10px;
}
.social a{
    margin: 0px 25px;
}
i{
    color: #009688;
    font-size: 20px;

}
a{
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.reachus-info{
width: 100%;
height: 65%;
display: grid;
padding: 40px;
text-align: left;
}
.reachus-info a{
    margin-left: 15px;
}
/*--------------------------------------------------------About us page style--------------------------------------------------------------------*/
.about-heading{
    width: 100%;
    height: 15%;
    color: #fff;
    display: grid;
    justify-content: center;
    font-size: 25px;
    margin-top: -8%;
    position: relative;
} 
.about-underline{
    width: 45%;
    height: 30%;
    margin-top: 5%;
    margin-left: 27.5%;
    background-color:#fff; 
}   
.about-content{
    width: 85%;
    height: 90%;
    margin-left: 7.5%;
    background-color: rgba(59, 55, 55, 0.75);
    opacity: 0.75;
    color: #fff;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-top: 2%;
    margin-top: -8%;
} 
.about-content h3{
    font-size: 30px;
    text-align: center;
}
.about-content p{
    margin-top: 10.5%; 
    font-size: 17px;
    text-align: center;
}
#work-icon{
    color: #fff;
    font-size: 50px;
    width: 100%;
    height: 18%;
    text-align: center;
    margin-bottom: 10px;   
}
#why-icon{
    color: #fff;
    font-size: 50px;
    width: 100%;
    height: 18%;
    text-align: center;
    margin-bottom: 10px; 
}
#mission-icon{
    color: #fff;
    font-size: 50px;
    width: 100%;
    height: 18%;
    text-align: center;
    margin-bottom: 10px;   
}
.copyright{
    color: rgba(96, 83, 83, 0.75);
    position: absolute;
    width: 100%;
    text-align: center;
    top: 97.2%;

}
/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1440px){
    .contact-content{
        top: -6%;
        
    }
    .contact-information{
        font-size: 14px;
    }
    .contact-content h1{
        font-size: 40px;
    }
    .contact-content p{
        font-size: 17px;
    }
    .about-content h3{
        font-size: 24px;
    }
    .about-content p{
        font-size: 14.5px;
    }
    .about-heading{
        font-size: 23px;
    }
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------  */
@media (min-width: 768px) and (max-width: 1024px){
    .contact-content{
        top: -6%;
        
    }
    .contact-information{
        font-size: 12px;
    }
    .contact-content h1{
        font-size: 40px;
    }
    .contact-content p{
        font-size: 17px;
    }
    .about-content{
        height: 85%;
    }
    .about-content h3{
        font-size: 23.5px;
    }
    .about-content p{
        font-size: 13px;
    }
    .about-heading{
        font-size: 23px;
    }
    #work-icon {
        font-size: 46px;
    }
    #why-icon {
        font-size: 46px;
    }
    #mission-icon {
        font-size: 46px;
    }
    .content h1{
        font-size: 58px;
    }
    .content p{
        font-size: 13px;
    }
    
} 
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 500px) and (max-width: 768px){
    .contact-body{
        height: 145vh;
    }
    .contact-content{
        top: -6%;
        
    }
    .contact-information{
        font-size: 12px;
        display: grid;
        height: 96%;
    }
    .contact-content h1{
        font-size: 40px;
    }
    .contact-content p{
        font-size: 17px;
    }
    .reachus-info{
        padding: 40px 0px 30px 0px;
    }
    .left{
        padding: 30px 40px;
    }
    .right{
        margin-top: 5%;
    }
    .social{
        justify-content: center;
    }
    .about-content{
        height: 90%;
        width: 55%;
        display: grid;
        margin: auto;
        margin-top: -8%;
        padding: 5% 2%;
    }
    .about-body{
        height: 140vh;
    }
    .about-content h3{
        font-size: 23.5px;
    }
    .about-content p{
        font-size: 13px;
    }
    .about-heading{
        font-size: 23px;
    }
    #work-icon {
        font-size: 46px;
    }
    #why-icon {
        font-size: 46px;
    }
    #mission-icon {
        font-size: 46px;
    }
    .content{
        top: 11%;
    }
    .content h1{
        font-size: 50px;
    }
    .content p{
        font-size: 11px;
    }
    .button{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;

    }
} 
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 300px) and (max-width: 500px){

    .navbar{
        padding: 15px 0px;
        font-size: 10px;
    }
    .navbar li{
        margin: 0px 10px;
    }
    .button{
        display: grid;
        justify-content: center;
    }
    .contact-body{
        height: 145vh;
    }
    .contact-content{
        top: 28%;
        
    }
    .contact-information{
        font-size: 12px;
        display: grid;
        height: 91.5%;
    }
    .contact-content h1{
        font-size: 40px;
    }
    .contact-content p{
        font-size: 17px;
    }
    .reachus-info{
        padding: 40px 0px 30px 0px;
    }
    .left{
        padding: 30px 40px;
    }
    .right{
        margin-top: 5%;
    }
    .social{
        justify-content: center;
    }
    .about-content{
        height: 90%;
        width: 55%;
        display: grid;
        margin: auto;
        margin-top: -8%;
        padding: 5% 2%;
    }
    .about-body{
        height: 120vh;
    }
    .about-content h3{
        font-size: 23.5px;
    }
    .about-content p{
        font-size: 13px;
    }
    .about-heading{
        font-size: 20px;
        margin-top: 0%;
        top: -7%;
    }
    #work-icon {
        font-size: 43px;
    }
    #why-icon {
        font-size: 43px;
    }
    #mission-icon {
        font-size: 43px;
    }
    .content{
        top: 25%;
    }
    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: 10px;
    }
    
} 

